@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply transition-colors duration-200;
  }
}

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-600;
  border-radius: 4px;
}

.prose pre {
  @apply bg-gray-50 dark:bg-transparent;
  border-radius: 0.5rem;
  overflow-x: auto;
}


